# Data analysis libraries
# numpy
# scipy
pandas
pandas-datareader

# Technical analysis, indicator libraries
# ta
ta-lib
# bta-lib
# pandas-ta
tulipy

# Database connection, ORM
psycopg2
sqlalchemy

# Broker API libraries
alpaca-trade-api
# python-binance
tda-api
# ib_insync
# robin-stocks

# Data providers
# intrinio-sdk
polygon-api-client
# iexfinance
yfinance
# quandl
alpha-vantage
sec-edgar-downloader

# Visualization
# matplotlib
# plotly
# dash
# mplfinance
# jupyterlab
# pillow

# Backtesting
# backtrader
# pyalgotrade
# bt

# Portfolio, performance analysis
# pyfolio
# finquant

# Web frameworks and extensions
fastapi
# httpx
# flask
# flask-cors
# flask-login
# flask-sqlalchemy
# itsdangerous
# aiofiles
# chalice

# Servers, task queue
uvicorn
# gunicorn
# celery

# Networking
requests
# boto3
# urllib3
websocket-client
websockets

# Other data stores, formats
# redis
# h5py

# Utilities
python-dateutil
holidays
configparser
# beautifulsoup4
# pendulum
# click
# passlib

# Machine learning
# tensorflow
# scikit-learn
# keras
# torch
# opencv-python
